<header *ngIf="showAdminBoard" id="header" class="header fixed-top d-flex align-items-center">

   <div class="d-flex align-items-center justify-content-between">
     <a href="index.html" class="logo d-flex align-items-center">
      <i class="fa fa-truck mr-2"></i>
        <span class="d-none d-lg-block text-primary">SarayaTrans</span>
     </a>
     <i class="bi bi-list toggle-sidebar-btn"></i>
   </div><!-- End Logo -->
 
   <div class="search-bar">
     <form class="search-form d-flex align-items-center" method="POST" action="#">
       <input type="text" name="no" [(ngModel)]="no" placeholder="Search" title="Enter search keyword">
       <button type="submit" (click)="searchNo()" title="Search"><i class="bi bi-search"></i></button>
     </form>
   </div><!-- End Search Bar -->
 
   <nav class="header-nav ms-auto">
     <ul class="d-flex align-items-center">
 
       <li class="nav-item d-block d-lg-none">
         <a class="nav-link nav-icon search-bar-toggle " href="#">
           <i class="bi bi-search"></i>
         </a>
       </li><!-- End Search Icon-->
 
       <li class="nav-item dropdown">
 
         <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
           <i class="bi bi-bell"></i>
           <span class="badge bg-primary badge-number">4</span>
         </a><!-- End Notification Icon -->
 
         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
           <li class="dropdown-header">
             You have 4 new notifications
             <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
           </li>
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li class="notification-item">
             <i class="bi bi-exclamation-circle text-warning"></i>
             <div>
               <h4>Lorem Ipsum</h4>
               <p>Quae dolorem earum veritatis oditseno</p>
               <p>30 min. ago</p>
             </div>
           </li>
 
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li class="notification-item">
             <i class="bi bi-x-circle text-danger"></i>
             <div>
               <h4>Atque rerum nesciunt</h4>
               <p>Quae dolorem earum veritatis oditseno</p>
               <p>1 hr. ago</p>
             </div>
           </li>
 
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li class="notification-item">
             <i class="bi bi-check-circle text-success"></i>
             <div>
               <h4>Sit rerum fuga</h4>
               <p>Quae dolorem earum veritatis oditseno</p>
               <p>2 hrs. ago</p>
             </div>
           </li>
 
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li class="notification-item">
             <i class="bi bi-info-circle text-primary"></i>
             <div>
               <h4>Dicta reprehenderit</h4>
               <p>Quae dolorem earum veritatis oditseno</p>
               <p>4 hrs. ago</p>
             </div>
           </li>
 
           <li>
             <hr class="dropdown-divider">
           </li>
           <li class="dropdown-footer">
             <a href="#">Show all notifications</a>
           </li>
 
         </ul><!-- End Notification Dropdown Items -->
 
       </li><!-- End Notification Nav -->
 
       <li class="nav-item dropdown">
 
         <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
           <i class="bi bi-chat-left-text"></i>
           <span class="badge bg-success badge-number">3</span>
         </a><!-- End Messages Icon -->
 
         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
           <li class="dropdown-header">
             You have 3 new messages
             <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
           </li>
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li class="message-item">
             <a href="#">
               <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
               <div>
                 <h4>Maria Hudson</h4>
                 <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                 <p>4 hrs. ago</p>
               </div>
             </a>
           </li>
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li class="message-item">
             <a href="#">
               <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
               <div>
                 <h4>Anna Nelson</h4>
                 <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                 <p>6 hrs. ago</p>
               </div>
             </a>
           </li>
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li class="message-item">
             <a href="#">
               <img src="assets/admin/img/messages-3.jpg" alt="" class="rounded-circle">
               <div>
                 <h4>David Muldon</h4>
                 <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                 <p>8 hrs. ago</p>
               </div>
             </a>
           </li>
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li class="dropdown-footer">
             <a href="#">Show all messages</a>
           </li>
 
         </ul><!-- End Messages Dropdown Items -->
 
       </li><!-- End Messages Nav -->
 
       <li class="nav-item dropdown pe-3">
 
         <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
           <img src="assets/admin/img/girl.png" alt="Profile" class="rounded-circle">
           <span class="d-none d-md-block dropdown-toggle ps-2">B. Dieng</span>
         </a><!-- End Profile Iamge Icon -->
 
         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
           <li class="dropdown-header">
             <h6>Bineta Dieng</h6>
             <span>Web Developer</span>
           </li>
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li>
             <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
               <i class="bi bi-person"></i>
               <span>My Profile</span>
             </a>
           </li>
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li>
             <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
               <i class="bi bi-gear"></i>
               <span>Account Settings</span>
             </a>
           </li>
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li>
             <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
               <i class="bi bi-question-circle"></i>
               <span>Need Help?</span>
             </a>
           </li>
           <li>
             <hr class="dropdown-divider">
           </li>
 
           <li>
             <a class="dropdown-item d-flex align-items-center" (click)="logout()" href="#">
               <i class="bi bi-box-arrow-right"></i>
               <span>Sign Out</span>
             </a>
           </li>
 
         </ul><!-- End Profile Dropdown Items -->
       </li><!-- End Profile Nav -->
 
     </ul>
   </nav><!-- End Icons Navigation -->
 
 </header>
 <div class="col-md-8 offset-md-3 container pt-5 ">
 

  
        <div class="text-center pb-2 my-5">
            <h6 class="text-primary text-uppercase font-weight-bold mt-5">Trucks</h6>
            <button routerLink="/install" class="text-uppercase mb-4 text-primary">Add truck</button>
        </div>
        <div  class="row my-5">
           
            
            
            <div *ngFor="let t of trucks; let i = index" [class.active]="i == currentIndex" class="col-lg-3   col-md-6" >
                <div class=" position-relative  border-0 mb-5 mr-3">
                  <marquee *ngIf ="t.status==false" behavior="" scrollamount="20" direction=""><img  class="card-img-top" src="../assets/images/truc1.png" alt="#"/> </marquee>
                  
                    <img  class="card-img-top" *ngIf ="t.status==true" src="../assets/images/truc1.png" alt="#"/>
                    <div class="card-body text-center p-0">
                        <div class=" flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">{{t.model}}</h5>
                            <h5 class="font-weight-bold">{{t.driver.name}}</h5>

                            <h5 class="font-weight-bold"> {{ t.status ? "No Available" : "Available" }}</h5>
                            <h5 class="font-weight-bold"></h5>
                           
                            <button
                            type="submit"
                            class="badge badge-primary mb-2"
                            routerLink="/truck/{{t.id}}"
                          >
                          Details
                            </button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    
  </div>
 



  