<div>
    <div class="modal-dialog">
      <div class="modal-content" >
        <form >
          <div class="modal-header">						
            <h4 class="modal-title">Edit Branch</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">					
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="name" required [(ngModel)]="currentBranch.name">
            </div>

            <div class="form-group">
              <label>Country</label>
              <input type="text" class="form-control" name="country" required [(ngModel)]="currentBranch.country" required>
            </div>
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" name="city" required [(ngModel)]="currentBranch.city" required>
            </div>
            
           				
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit"(click)="updateBranch()" class="btn btn-info"  value="Save">
          </div>
        </form>
      </div>
    </div>
  </div>

