<app-header></app-header>


<!-- About Start -->
<div class="container-fluid py-5">
   <div class="container">
       <div class="row align-items-center">
           <div class="col-lg-5 pb-4 pb-lg-0">
               <img class="img-fluid w-100" src="../assets/img/truck.jpeg" alt="">
               <div class="bg-primary text-dark text-center p-4">
                   <h3 class="m-0">25+ Years Experience</h3>
               </div>
           </div>
           <div class="col-lg-7">
               <h6 class="text-primary text-uppercase font-weight-bold">About Us</h6>
               <h1 class="mb-4">Trusted & Faster Logistic Service Provider</h1>
               <p class="mb-4">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>
               <div class="d-flex align-items-center pt-2">
                   <button type="button" class="btn-play" data-toggle="modal"
                       data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                       <span></span>
                   </button>
                   <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
               </div>
           </div>
       </div>
   </div>
   <!-- Video Modal -->
   <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-body">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>        
                   <!-- 16:9 aspect ratio -->
                   <div class="embed-responsive embed-responsive-16by9">
                       <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- About End -->


<!--  Quote Request Start -->
<div class="container-fluid bg-secondary my-5">
   <div class="container">
       <div class="row align-items-center">
           <div class="col-lg-7 py-5 py-lg-0">
               <h6 class="text-primary text-uppercase font-weight-bold">Get A Quote</h6>
               <h1 class="mb-4">Request A Free Quote</h1>
               <p class="mb-4">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>
               <div class="row">
                   <div class="col-sm-4">
                       <h1 class="text-primary mb-2" data-toggle="counter-up">225</h1>
                       <h6 class="font-weight-bold mb-4">SKilled Experts</h6>
                   </div>
                   <div class="col-sm-4">
                       <h1 class="text-primary mb-2" data-toggle="counter-up">1050</h1>
                       <h6 class="font-weight-bold mb-4">Happy Clients</h6>
                   </div>
                   <div class="col-sm-4">
                       <h1 class="text-primary mb-2" data-toggle="counter-up">2500</h1>
                       <h6 class="font-weight-bold mb-4">Complete Projects</h6>
                   </div>
               </div>
           </div>
           <div class="col-lg-5">
               <div class="bg-primary py-5 px-4 px-sm-5">
                   <form class="py-5">
                       <div class="form-group">
                           <input type="text" class="form-control border-0 p-4" placeholder="Your Name" required="required" />
                       </div>
                       <div class="form-group">
                           <input type="email" class="form-control border-0 p-4" placeholder="Your Email" required="required" />
                       </div>
                       <div class="form-group">
                           <select class="custom-select border-0 px-4" style="height: 47px;">
                               <option selected>Select A Service</option>
                               <option value="1">Service 1</option>
                               <option value="2">Service 1</option>
                               <option value="3">Service 1</option>
                           </select>
                       </div>
                       <div>
                           <button class="btn btn-dark btn-block border-0 py-3" type="submit">Get A Quote</button>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- Quote Request Start -->


<!-- Services Start -->
<div class="container-fluid pt-5">
   <div class="container">
       <div class="text-center pb-2">
           <h6 class="text-primary text-uppercase font-weight-bold">Our Services</h6>
           <h1 class="mb-4">Best Logistic Services</h1>
       </div>
       <div class="row pb-3">
           <div class="col-lg-3 col-md-6 text-center mb-5">
               <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                   <i class="fa fa-2x fa-plane text-dark pr-3"></i>
                   <h6 class="text-white font-weight-medium m-0">Air Freight</h6>
               </div>
               <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
               <a class="border-bottom text-decoration-none" href="">Read More</a>
           </div>
           <div class="col-lg-3 col-md-6 text-center mb-5">
               <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                   <i class="fa fa-2x fa-ship text-dark pr-3"></i>
                   <h6 class="text-white font-weight-medium m-0">Ocean Freight</h6>
               </div>
               <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
               <a class="border-bottom text-decoration-none" href="">Read More</a>
           </div>
           <div class="col-lg-3 col-md-6 text-center mb-5">
               <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                   <i class="fa fa-2x fa-truck text-dark pr-3"></i>
                   <h6 class="text-white font-weight-medium m-0">Land Transport</h6>
               </div>
               <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
               <a class="border-bottom text-decoration-none" href="">Read More</a>
           </div>
           <div class="col-lg-3 col-md-6 text-center mb-5">
               <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                   <i class="fa fa-2x fa-store text-dark pr-3"></i>
                   <h6 class="text-white font-weight-medium m-0">Cargo Storage</h6>
               </div>
               <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
               <a class="border-bottom text-decoration-none" href="">Read More</a>
           </div>
       </div>
   </div>
</div>
<!-- Services End -->


<!-- Features Start -->
<div class="container-fluid bg-secondary my-5">
   <div class="container">
       <div class="row align-items-center">
           <div class="col-lg-5">
               <img class="img-fluid w-100" src="../assets/img/feature.jpg" alt="">
           </div>
           <div class="col-lg-7 py-5 py-lg-0">
               <h6 class="text-primary text-uppercase font-weight-bold">Why Choose Us</h6>
               <h1 class="mb-4">Faster, Safe and Trusted Logistics Services</h1>
               <p class="mb-4">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>
               <ul class="list-inline">
                   <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Best In Industry</h6>
                   <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Emergency Services</h6></li>
                   <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>24/7 Customer Support</h6></li>
               </ul>
               <a href="" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
           </div>
       </div>
   </div>
</div>
<!-- Features End -->


<!-- Pricing Plan Start -->
<div class="container-fluid pt-5">
   <div class="container">
       <div class="text-center pb-2">
           <h6 class="text-primary text-uppercase font-weight-bold">Pricing Plan</h6>
           <h1 class="mb-4">Affordable Pricing Packages</h1>
       </div>
       <div class="row">
           <div class="col-md-4 mb-5">
               <div class="bg-secondary">
                   <div class="text-center p-4">
                       <h1 class="display-4 mb-0">
                           <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">$</small>49<small class="align-bottom text-muted font-weight-medium" style="font-size: 16px; line-height: 40px;">/Mo</small>
                       </h1>
                   </div>
                   <div class="bg-primary text-center p-4">
                       <h3 class="m-0">Basic</h3>
                   </div>
                   <div class="d-flex flex-column align-items-center py-4">
                    <p>Lorem ipsum dolor </p>
                    <p>Lorem ipsum dolor </p>
                    <p>Lorem ipsum dolor </p>
                    <p>Lorem ipsum dolor </p>
                       <a href="" class="btn btn-primary py-2 px-4 my-2">Order Now</a>
                   </div>
               </div>
           </div>
           <div class="col-md-4 mb-5">
               <div class="bg-secondary">
                   <div class="text-center p-4">
                       <h1 class="display-4 mb-0">
                           <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">$</small>99<small class="align-bottom text-muted font-weight-medium" style="font-size: 16px; line-height: 40px;">/Mo</small>
                       </h1>
                   </div>
                   <div class="bg-primary text-center p-4">
                       <h3 class="m-0">Premium</h3>
                   </div>
                   <div class="d-flex flex-column align-items-center py-4">
                    <p>Lorem ipsum dolor </p>
                    <p>Lorem ipsum dolor </p>
                    <p>Lorem ipsum dolor </p>
                    <p>Lorem ipsum dolor </p>
                       <a href="" class="btn btn-primary py-2 px-4 my-2">Order Now</a>
                   </div>
               </div>
           </div>
           <div class="col-md-4 mb-5">
               <div class="bg-secondary">
                   <div class="text-center p-4">
                       <h1 class="display-4 mb-0">
                           <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">$</small>149<small class="align-bottom text-muted font-weight-medium" style="font-size: 16px; line-height: 40px;">/Mo</small>
                       </h1>
                   </div>
                   <div class="bg-primary text-center p-4">
                       <h3 class="m-0">Business</h3>
                   </div>
                   <div class="d-flex flex-column align-items-center py-4">
                    <p>Lorem ipsum dolor </p>
                    <p>Lorem ipsum dolor </p>
                    <p>Lorem ipsum dolor </p>
                    <p>Lorem ipsum dolor </p>
                       <a href="" class="btn btn-primary py-2 px-4 my-2">Order Now</a>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- Pricing Plan End -->


<!-- Team Start -->
<div class="container-fluid pt-5">
   <div class="container">
       <div class="text-center pb-2">
           <h6 class="text-primary text-uppercase font-weight-bold">Delivery Team</h6>
           <h1 class="mb-4">Meet Our Delivery Team</h1>
       </div>
       <div class="row">
           <div class="col-lg-3 col-md-6">
               <div class="team card position-relative overflow-hidden border-0 mb-5">
                   <img class="card-img-top" src="../assets/img/mar.jpeg" alt="">
                   <div class="card-body text-center p-0">
                       <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                           <h5 class="font-weight-bold">Moustapha Diémé</h5>
                           <span>Developer</span>
                       </div>
                       <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                           <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-6">
               <div class="team card position-relative overflow-hidden border-0 mb-5">
                   <img class="card-img-top" src="../assets/img/baye.jpeg" alt="" height="260">
                   <div class="card-body text-center p-0">
                       <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                           <h5 class="font-weight-bold">Baye Sabarane Lam</h5>
                           <span>Devops</span>
                       </div>
                       <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                           <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-6">
               <div class="team card position-relative overflow-hidden border-0 mb-5">
                   <img class="card-img-top" src="../assets/img/amy.jpeg" height="260" alt="">
                   <div class="card-body text-center p-0">
                       <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                           <h5 class="font-weight-bold">Amy Sarr Fall</h5>
                           <span>Devops</span>
                       </div>
                       <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                           <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-6">
               <div class="team card position-relative overflow-hidden border-0 mb-5">
                   <img class="card-img-top" src="../assets/img/bamba.jpeg" height="260" alt="">
                   <div class="card-body text-center p-0">
                       <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                           <h5 class="font-weight-bold">Bamba Lo</h5>
                           <span>Devops</span>
                       </div>
                       <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                           <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                           <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5">
   <div class="container">
       <div class="text-center pb-2">
           <h6 class="text-primary text-uppercase font-weight-bold">Testimonial</h6>
           <h1 class="mb-4">Our Clients Say</h1>
       </div>
       <div class="owl-carousel testimonial-carousel">
           <div class="position-relative bg-secondary p-4">
               <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
               <div class="d-flex align-items-center mb-3">
                   <img class="img-fluid rounded-circle" src="../assets/img/testimonial-1.jpg" style="width: 60px; height: 60px;" alt="">
                   <div class="ml-3">
                       <h6 class="font-weight-semi-bold m-0">Client Name</h6>
                       <small>- Profession</small>
                   </div>
               </div>
               <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
           </div>
           <div class="position-relative bg-secondary p-4">
               <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
               <div class="d-flex align-items-center mb-3">
                   <img class="img-fluid rounded-circle" src="../assets/img/testimonial-2.jpg" style="width: 60px; height: 60px;" alt="">
                   <div class="ml-3">
                       <h6 class="font-weight-semi-bold m-0">Client Name</h6>
                       <small>- Profession</small>
                   </div>
               </div>
               <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
           </div>
           <div class="position-relative bg-secondary p-4">
               <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
               <div class="d-flex align-items-center mb-3">
                   <img class="img-fluid rounded-circle" src="../assets/img/testimonial-3.jpg" style="width: 60px; height: 60px;" alt="">
                   <div class="ml-3">
                       <h6 class="font-weight-semi-bold m-0">Client Name</h6>
                       <small>- Profession</small>
                   </div>
               </div>
               <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
           </div>
           <div class="position-relative bg-secondary p-4">
               <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
               <div class="d-flex align-items-center mb-3">
                   <img class="img-fluid rounded-circle" src="../assets/img/testimonial-4.jpg" style="width: 60px; height: 60px;" alt="">
                   <div class="ml-3">
                       <h6 class="font-weight-semi-bold m-0">Client Name</h6>
                       <small>- Profession</small>
                   </div>
               </div>
               <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
           </div>
       </div>
   </div>
</div>
<!-- Testimonial End -->


<!-- Blog Start -->
<div class="container-fluid pt-5">
   <div class="container">
       <div class="text-center pb-2">
           <h6 class="text-primary text-uppercase font-weight-bold">Our Blog</h6>
           <h1 class="mb-4">Latest From Blog</h1>
       </div>
       <div class="row">
           <div class="col-md-6 mb-5">
               <div class="position-relative">
                   <img class="img-fluid w-100" src="../assets/img/paps.jpeg" alt="">
                   <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                       style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
                       <h4 class="font-weight-bold mb-n1">01</h4>
                       <small class="text-white text-uppercase">Jan</small>
                   </div>
               </div>
               <div class="bg-secondary" style="padding: 30px;">
                   <div class="d-flex mb-3">
                       <div class="d-flex align-items-center">
                           <img class="rounded-circle" style="width: 40px; height: 40px;" src="../assets/img/mar.jpeg" alt="">
                           <a class="text-muted ml-2" href="">Marshall Diémé</a>
                       </div>
                       <div class="d-flex align-items-center ml-4">
                           <i class="far fa-bookmark text-primary"></i>
                           <a class="text-muted ml-2" href="">Manager</a>
                       </div>
                   </div>
                   <h4 class="font-weight-bold mb-3">Kasd tempor diam sea justo dolor</h4>
                   <p>Dolor sea ipsum ipsum et. Erat duo lorem magna vero dolor dolores. Rebum eirmod no dolor diam dolor amet ipsum. Lorem lorem sea sed diam est lorem magna</p>
                   <a class="border-bottom border-primary text-uppercase text-decoration-none" href="">Read More <i class="fa fa-angle-right"></i></a>
               </div>
           </div>
           <div class="col-md-6 mb-5">
               <div class="position-relative">
                   <img class="img-fluid w-100" src="../assets/img/blog.jpeg" alt="">
                   <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                       style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
                       <h4 class="font-weight-bold mb-n1">01</h4>
                       <small class="text-white text-uppercase">Jan</small>
                   </div>
               </div>
               <div class="bg-secondary" style="padding: 30px;">
                   <div class="d-flex mb-3">
                       <div class="d-flex align-items-center">
                           <img class="rounded-circle" style="width: 40px; height: 40px;" src="assets/img/baye.jpeg" alt="">
                           <a class="text-muted ml-2" href="">Baye lam</a>
                       </div>
                       <div class="d-flex align-items-center ml-4">
                           <i class="far fa-bookmark text-primary"></i>
                           <a class="text-muted ml-2" href="">Manager</a>
                       </div>
                   </div>
                   <h4 class="font-weight-bold mb-3">Kasd tempor diam sea justo dolor</h4>
                   <p>Dolor sea ipsum ipsum et. Erat duo lorem magna vero dolor dolores. Rebum eirmod no dolor diam dolor amet ipsum. Lorem lorem sea sed diam est lorem magna</p>
                   <a class="border-bottom border-primary text-uppercase text-decoration-none" href="">Read More <i class="fa fa-angle-right"></i></a>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- Blog End -->


<!-- Footer Start -->
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
   <div class="row pt-5">
       <div class="col-lg-7 col-md-6">
           <div class="row">
               <div class="col-md-6 mb-5">
                   <h3 class="text-primary mb-4">Get In Touch</h3>
                   <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                   <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                   <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                   <div class="d-flex justify-content-start mt-4">
                       <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                       <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                       <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                       <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
               <div class="col-md-6 mb-5">
                   <h3 class="text-primary mb-4">Quick Links</h3>
                   <div class="d-flex flex-column justify-content-start">
                       <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                       <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                       <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
                       <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Pricing Plan</a>
                       <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-5 col-md-6 mb-5">
           <h3 class="text-primary mb-4">Newsletter</h3>
           <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum. Dolor duo eirmod sea justo no lorem est diam</p>
           <div class="w-100">
               <div class="input-group">
                   <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address">
                   <div class="input-group-append">
                       <button class="btn btn-primary px-4">Sign Up</button>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
   <div class="row">
       <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
           <p class="m-0 text-white">&copy; <a href="#">SARAYATRANS</a>. All Rights Reserved. 
       
       <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
       Designed by <a href="https://htmlcodex.com">HTML Codex</a>
           </p>
       </div>
       <div class="col-lg-6 text-center text-md-right">
           <ul class="nav d-inline-flex">
               <li class="nav-item">
                   <a class="nav-link text-white py-0" href="#">Privacy</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link text-white py-0" href="#">Terms</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link text-white py-0" href="#">FAQs</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link text-white py-0" href="#">Help</a>
               </li>
           </ul>
       </div>
   </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<router-outlet></router-outlet>


