<div >
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">						
            <h4 class="modal-title">Edit Manager</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">					
            <div class="form-group">
              <label>Firstname</label>
              <input type="text" class="form-control" name="firstname"  [(ngModel)]="currentUser.firstname" >
            </div>
            <div class="form-group">
              <label>Lastname</label>
              <input type="text" class="form-control" name="lastname"  [(ngModel)]="currentUser.lastname">
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username"  [(ngModel)]="currentUser.username" >
              </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email"  [(ngModel)]="currentUser.email">
           </div>
           					
          </div>
          <div class="modal-footer">
            <input type="button" (click)="this.refresh()" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" (click)="updateUser()" class="btn btn-info" value="Save">
          
          </div>

         
        </form>
      </div>
    </div>
  </div>
